.createUserComponent {
    width: 20rem;
    padding-bottom: 5px;

}

.createUser {
}
.createUser form {
    text-align: center;
    flex-flow: row wrap;
    border: 1px dashed;
}

.createUser fieldset {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex: 1 0 100%;
}

.createUser label {
    justify-content: space-between;
}

